.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

#home {
	background: linear-gradient(89deg, #FF1700 0%, #F00CAF 100%);
	background-size: cover;
}

.basket {
  transition: opacity 0.5s;
  opacity: 1;
}
.basket.hide {
  opacity: 0;
  pointer-events:none;
}
