body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next LT Pro", Courier, monospace;
  background: #FFB700;
  color: #00449E;
  /*background: linear-gradient(89deg, #F7FAFB 0%, #E2D4EC 100%);*/
}

#home {
	background: linear-gradient(89deg, #FF1700 0%, #F00CAF 100%);
}